body {
  font-family: sans-serif;
}

.block {
  display: block;
  margin-bottom: 15px;
}

.form-input {
  padding: 6px 8px;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.error {
  border: 2px solid red;
}
